.orders-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.83);
  box-shadow: rgba(230, 230, 230, 0.16) 0px 10px 36px 0px, rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;
  border-radius: 5px;
  padding: 10px !important;

  .alert-enter {
    opacity: 0;
    transform: scale(0.9);
  }

  .alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }

  .alert-exit {
    opacity: 1;
  }

  .alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }

  .modal-sloy {
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;

    .modal-card {
      width: max-content;
      height: max-content;
      background-color: rgba(244, 245, 245, 1);
      box-shadow: 0 33px 97px 0 #002C5714;
      overflow-y: auto;
      padding: 20px;
      border-radius: 5px;

      .info-car {
        width: 500px;

        .cancel-btn {
          width: 100%;
          display: flex;
          align-content: center;
          justify-content: flex-end;

          img {
            cursor: pointer;
            width: 30px;
            transition: 0.3s;
          }

          &:hover {
            img {
              transform: scale(1.2);
            }
          }
        }

        .title {
          text-align: center;
          font-weight: bold;
          font-size: 18px;
        }

        .info-box {
          .info {
            margin-top: 8px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .name {
              font-size: 16px;
              color: rgba(0, 0, 0, 0.47);
            }

            .val {
              width: 60%;
              font-weight: 600;

            }
          }
        }
      }
    }
  }

  .header-side {
    width: 100%;
    height: 8% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #232323;

    .filter-box {
      align-items: center;
      display: flex;

      .inputs {
        input {
          height: 25px;
          box-shadow: rgb(255, 255, 255) 0px 0px 2px;
          color: white;
          background-color: transparent;
          padding-left: 10px;
          border: none;
          margin-right: 25px;
          border-radius: 5px;

          &::placeholder {
            color: white;
          }
        }
      }

      .filter-btn {
        img {
          cursor: pointer;
          width: 22px;
        }
      }
    }

    .main-price {
      font-size: 13px;
      font-weight: bold;
      color: white;
    }
  }

  .box-orders {
    margin-top: 0px;
    width: 100%;
    height: 6%;
    border-bottom: 1px solid #232323;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .count-box {
      display: flex;
      align-items: center;
      justify-content: center;

      .name {
        font-size: 12px;
        font-weight: 500;
        color: white;
        margin-right: 20px;
      }

      .number {
        font-size: 14px;
        font-weight: normal;
        color: white;
        font-family: "MS Gothic";
      }
    }
  }

  .table-content {
    width: 100%;
    height: 75%;
    overflow-y: auto;
    margin: 10px auto 5px auto;
    padding: 0 5px 10px 5px;
    border-radius: 5px;

    table {
      box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
      width: 100%;
      border-collapse: collapse;
      border-radius: 5px;

      thead {
        font-size: 14px;
        position: sticky;
        top: -2px;

        th {
          color: white;
          padding: 5px;
          border: 1px solid #575757;
          text-align: center;
          background-color: #272727;
          font-weight: normal;
        }
      }

      tbody {
        tr {
          td {
            color: white;
            border: 1px solid #575757;
            padding: 5px;
            font-size: 15px;

            div {
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 25px;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                  transform: scale(1.2);
                }
              }
            }

            .status {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: flex-start;

              .name {

              }

              .rejected {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #7e1b1b;
                margin-right: 8px;
              }

              .check {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: rebeccapurple;
                margin-right: 8px;
              }

              .Delivering {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #a1a114;
                margin-right: 8px;

              }

              .Active {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #1b6075;
                margin-right: 8px;
              }

              .Delivered {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #1d7a1a;
                margin-right: 8px;
              }
            }
          }
        }

      }
    }
  }

  .pagination {
    margin: 10px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .prev {
      width: 22px;
      height: 22px;

      img {
        cursor: pointer;
        width: 100%;
        height: 100%;
      }
    }

    .items {
      cursor: pointer;
      margin-left: 5px;
      margin-right: 5px;
      font-weight: 400;
      color: white;
      font-size: 12px;
      padding-left: 8px;
      padding-right: 8px;
    }

    .active {
      background-color: rgba(255, 255, 255, 0.1);
      border: 1px solid #636363;
      border-radius: 40px;
      font-weight: 600;
    }

    .next {
      cursor: pointer;
      width: 22px;
      height: 22px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}