.cars-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: rgba(230, 230, 230, 0.16) 0px 10px 36px 0px, rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;
  border-radius: 5px;
  padding: 15px;
  position: relative;

  .header-side {
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #232323;

    .filter-box {
      align-items: center;
      display: flex;

      .btns {
        display: flex;
      }

      .inputs {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
          height: 35px;
          box-shadow: rgb(255, 255, 255) 0px 0px 2px;
          color: white;
          background-color: transparent;
          padding-left: 6px;
          border: none;
          margin-right: 15px;
          border-radius: 5px;
          width: 90px;
          font-size: 12px;


          &:nth-child(2){
            width: 120px;
          }

          &::placeholder {
            color: #b9b9b9;
          }

        }
        select{
          height: 28px;
          margin-right: 10px;
          width: 120px;
        }
        .get-image{
          height: 100%;
          width: 120px;
          display: block;
          color: white;
          font-size: 12px;
          margin-right: 15px;
          input{
            box-shadow: none;
          }

        }


      }

      .filter-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, .8);
        padding: 3px 6px 3px 6px;
        color: black;
        border-radius: 10px;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
        transition: 0.3s;

        img {
          width: 22px;
          margin-left: 10px;
        }

        &:hover {
          box-shadow: rgba(226, 226, 226, 0.5) 0px 0px 12px;
        }
      }

      .xbtn {
        img {
          margin-left: 8px;
          cursor: pointer;
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .table-content {
    width: 100%;
    height: 75%;
    overflow-y: auto;
    margin: 10px auto 0 auto;
    padding: 5px 15px 15px 15px;
    border-radius: 5px;

    table {
      box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
      width: 100%;
      border-collapse: collapse;
      border-radius: 5px;

      thead {
        font-size: 16px;

        th {
          color: white;
          padding: 10px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        }
      }

      tbody {

        tr {
          td {
            color: white;
            border: 1px solid #575757;
            padding: 12px;

            img {
              width: 40px;
              height: 40px;
              cursor: pointer;
            }

            div {
              margin: 0 auto;
              width: 30px;
              height: 30px;

              img {
                width: 100%;
                height: 100%;
                cursor: pointer;
              }
            }

          }
        }

      }
    }
  }

  .view-docs{
    z-index: 200;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    .for-image{
      padding: 10px;
      width: 60%;
      height: 90%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 10px;
      box-shadow: rgb(128, 128, 128) 0px 0px 28px, rgba(90, 90, 90, 0.73) 0px 0px 10px;
      .cancel-btn{
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        img{
          cursor: pointer;
          width: 30px;
          &:nth-child(2){
            width: 25px;
            height: 25px;
          }
        }
      }
      .for-img{
        margin-top: 20px;
        width: 100%;
        height: 88%;
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
          background-color: transparent;
        }
      }
    }
  }

  .hide {
    display: none;
  }
}
